body {
    background-color: antiquewhite;
}
.cuadrado {
    margin-left: auto;
    width: 399px;
    height: 422px;
    background-color: white;
    border: 2px;
    border-radius: 1cm;
    }
    .imagen1 {
        margin-left: 135px;
        margin-top: 60px;
    }
    @font-face {
        font-family: sunday;
        src: url(./assets/SUNDAY.ttf);
    }
    .parrafo1 {
        font-family: sunday;
        font-size: 20px;
        padding-left: 20px;
        text-align: center;
        
    }
    .boton1 {
        background-color: #ED6755;
        width: 170px;
        height: 40px;
        border-radius: 5px;
        margin-left: 120px;
        margin-top: 50px;
    }
    .parrafo2 {
        font-family: sunday;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        color: white;
        
        
        
    }
    .imagen2 {
        margin-left: 160px;
        margin-top: 100px;

    }
    .parrafo3 {
        font-family: sunday;
        font-size: 20px;
        text-align: center;
        padding-left: 20px;
    }
    .boton2 {
        background-color: #2c3e50;
        width: 170px;
        height: 40px;
        border-radius: 5px;
        margin-left: 120px;
        margin-top: 50px;
    }
    .parrafo4 {
        font-family: sunday;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        color: white;

    }
   .foter {
       margin-left: auto;
   }
   .nico {
       margin-left: 750px;
       font-family: sunday;
        font-size: 20px;
        padding: 5px;

   }