body {
    background-color: antiquewhite;
}
.cuadrado {
    margin-left: 7cm;
    width: 399px;
    height: 422px;
    background-color: white;
    border: 2px;
    border-radius: 1cm;
    }
    .imagen1 {
        margin-left: 135px;
        margin-top: 60px;
    }
    @font-face {
        font-family: sunday;
        src: url(./assets/SUNDAY.ttf);
    }
    .parrafo1 {
        font-family: sunday;
        font-size: 20px;
        padding-left: 20px;
        text-align: center;
        
    }
    .boton1 {
        background-color: #ED6755;
        width: 170px;
        height: 40px;
        border-radius: 5px;
        margin-left: 120px;
        margin-top: 50px;
    }
    .parrafo2 {
        font-family: sunday;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        color: white;
        
        
        
    }
    .imagen2 {
        margin-left: 160px;
        margin-top: 100px;

    }
    .parrafo3 {
        font-family: sunday;
        font-size: 20px;
        text-align: center;
        padding-left: 20px;
    }
    .boton2 {
        background-color: #2c3e50;
        width: 170px;
        height: 40px;
        border-radius: 5px;
        margin-left: 120px;
        margin-top: 50px;
    }
    .parrafo4 {
        font-family: sunday;
        font-size: 15px;
        text-align: center;
        padding: 10px;
        color: white;

    }
    .equis {
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        background-color: rgb(177, 182, 182);
        width: 20px;
        height: 20px;
        margin-left: 350px;
        
        
    }
